# C++太占空间了
*.sdf
*.ipch
*.pch
*.log

# 别处摘录
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.swp
*.opendb
*.db
*.suo

## github默认
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

